# Ignore build directories

dataset/
/test_results

#Ignore files 
run_code.txt 

# Ignore everything in the 'example' directory
notebooks/*
!notebooks/overall_probability.ipynb 
utils/__pycache__
*.pyc
